!!! 5
html.no-js
  head
    meta(charset='utf-8')
    title muiral.
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(href='//www.google-analytics.com', rel='dns-prefetch')
    link(href='//ajax.googleapis.com', rel='dns-prefetch')
    link(href='assets/css/style.min.css', rel='stylesheet')
    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
    link(rel='apple-touch-icon', href='/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='57x57', href='/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-touch-icon-152x152.png')

    script(src='assets/components/modernizr.js')
  body(style='')
    nav.top-bar.hide-for-small.pre-nav
      ul.title-area
        li.name
          a(href="/")
            img.logo(src="/assets/img/logos/muiral_logo.svgz", alt="muiral.")
      section.top-bar-section
        ul.right
          li
            a(href="#") README
          li.user-drop.user-avatar
            img(src="/assets/img/avatars/beyonce.jpg", alt="beyonce knowles")
            a(href="#") Beyonce Carter
              i.icon-caret-down
          li
            input.search(input type="text", placeholder="search")

    main
      .row
        .large-2.columns.small-4.left-nav.full-height
          ul.side-nav
            li
              a(href="#")
                span.process alerts
                  i.icon-info-sign.pull-left
                .radius.red.label 04

            li.active
              a(href="#")
                span.process news
                  i.icon-list-alt.pull-left
                .radius.blue.label 23

            li
              a(href="#")
                span.process jobs
                  i.icon-briefcase.pull-left
                .radius.yellow.label 12

            li
              a(href="#")
                span.process events
                  i.icon-calendar.pull-left
                .radius.success.label  08

            .clearfix

          ul.side-nav
            li
            li.divider
            li
              a(href="#")
                span.process learn
                  i.icon-book.pull-left
            li
              a(href="#")
                span.process lab
                  i.icon-beaker.pull-left
            li
              a(href="#")
                span.process huddle
                  i.icon-group.pull-left

          ul.side-nav
            li
            li.divider
            li
              a(href="#")
                span.process devs
                  i.icon-code.pull-left
                .radius.red.label 38
            li
              a(href="#")
                span.process creative
                  i.icon-pushpin.pull-left
                .radius.green.label 16
            li
              a(href="#")
                span.process admins
                  i.icon-cogs.pull-left
                .radius.red.label 16
            li
              a(href="#")
                span.process marcoms
                  i.icon-bullhorn.pull-left
                .radius.blue.label 11
            li
              a(href="#")
                span.process founders
                  i.icon-lightbulb.pull-left
                .radius.black.label 38
            li
              a(href="#")
                span.process investors
                  i.icon-money.pull-left
                .radius.yellow.label 38

        .large-8.columns.small-8.main.full-height
          .content-nav
            dl.sub-nav
              dt Trending Topics:
                dd.active
                  a(href="#") All
                dd
                  a(href="#") #Ruby on Rails
                dd
                  a(href="#") #Django
                dd
                  a(href="#") #iOS
                dd
                  a(href="#") #Financing
                dd
                  a(href="#") #Hack-a-Thons
                dd
                  a(href="#") #Office hours

          .primary-content
            ul.news

              li.post
                .post-movement
                  a(href="#")
                    i.icon-arrow-up
                .post-data
                  span.post-title
                    span.title 
                      a(href="#") Pushing prototypes with Quartz Composer
                    span.source (
                      a(href="#") hackdesign.org
                      |)
                  span.post-meta 
                    span.points-comments 99 points and 
                      a(href="#") 6 comments
                    span.when-who 9 hours ago from 
                      a(href="#") Beyoncé Carter
                      | , iOS Developer at Acme

              li.post
                .post-movement
                  a(href="#")
                    i.icon-arrow-up
                .post-data
                  span.post-title
                    span.title 
                      a(href="#") How to get rid of old stuff, sell it for more, and use Amazon as cheap storage
                    span.source (
                      a(href="#") benguild.com
                      |)
                  span.post-meta 
                    span.points-comments 95 points and 
                      a(href="#") 80 comments
                    span.when-who 8 hours ago from 
                      a(href="#") Oprah Winfree
                      | - Creative Director, OWN


              li.post
                .post-movement
                  a(href="#")
                    i.icon-arrow-up
                .post-data
                  span.post-title
                    span.title 
                      a(href="#") Google’s Maps Engine Pro Aims To Help Small Businesses Visualize Location Data 
                    span.source (
                      a(href="#") techcrunch.com
                      |)
                  span.post-meta 
                    span.points-comments 90 points and 
                      a(href="#") 80 comments
                    span.when-who 8 hours ago from 
                      a(href="#") Rick James 
                      |  Angel Investor


              li.post
                .post-movement
                  a(href="#")
                    i.icon-arrow-up
                .post-data
                  span.post-title
                    span.title 
                      a(href="#") Creating iOS7 with Microsoft Word
                    span.source (
                      a(href="#") youtube.com
                      |)
                  span.post-meta 
                    span.points-comments 90 points and 
                      a(href="#") 75 comments
                    span.when-who 8 hours ago from 
                      a(href="#") Megan Good
                      |  Systems Adminstrator


              li.post
                .post-movement
                  a(href="#")
                    i.icon-arrow-up
                .post-data
                  span.post-title
                    span.title 
                      a(href="#") One Hero - Parallax scrolling comic
                    span.source (
                      a(href="#") onehero.ca
                      |)
                  span.post-meta 
                    span.points-comments 90 points and 
                      a(href="#") 80 comments
                    span.when-who 8 hours ago from 
                      a(href="#") Rudy Huxtable
                      | , Digital Strategist at Hillman College

              li.post
                .post-movement
                  a(href="#")
                    i.icon-arrow-up
                .post-data
                  span.post-title
                    span.title 
                      a(href="#") Creating Buttons With Built-in Progress Meters
                    span.source (
                      a(href="#") tutorialzine.com
                      |)
                  span.post-meta 
                    span.points-comments 99 points and 
                      a(href="#") 6 comments
                    span.when-who 9 hours ago from 
                      a(href="#") Idris Elba
                      | , Founder of Bout2BlowUp.com

              li.post
                .post-movement
                  a(href="#")
                    i.icon-arrow-up
                .post-data
                  span.post-title
                    span.title 
                      a(href="#") Ghost – A Simple, Open and Free Blogging Platform
                    span.source (
                      a(href="#") ghost.org
                      |)
                  span.post-meta 
                    span.points-comments 95 points and 
                      a(href="#") 80 comments
                    span.when-who 8 hours ago from 
                      a(href="#") Robin Roberts
                      |  Social Media Expert


              li.post
                .post-movement
                  a(href="#")
                    i.icon-arrow-up
                .post-data
                  span.post-title
                    span.title 
                      a(href="#") RainLoop - a Free, Modern &amp; Fast Web-Based Email Client
                    span.source (
                      a(href="#") rainloop.net
                      |)
                  span.post-meta 
                    span.points-comments 90 points and 
                      a(href="#") 80 comments
                    span.when-who 8 hours ago from 
                      a(href="#") McLovin'
                      |  Oracle DBA


              li.post
                .post-movement
                  a(href="#")
                    i.icon-arrow-up
                .post-data
                  span.post-title
                    span.title 
                      a(href="#") Making HTTP realtime with HTTP 2.0
                    span.source (
                      a(href="#") docs.google.com
                      |)
                  span.post-meta 
                    span.points-comments 90 points and 
                      a(href="#") 75 comments
                    span.when-who 8 hours ago from 
                      a(href="#") Curtis Jackson
                      |  QA Analyst, SK Energy

            .news-nav
              a.tiny.green.button more.
              a.tiny.red.button less.

        .large-2.columns.small-8.right-bar.full-height
          .friends-nav
            dl.sub-nav
              dd.active
                a(href="#")
                  i(alt="All").icon-globe
              dd
                a(href="#")
                  i.icon-code
              dd
                a(href="#")
                  i.icon-pushpin
              dd
                a(href="#")
                  i.icon-gears
              dd
                a(href="#")
                  i.icon-bullhorn

          ul.side-nav.friends-list
            h5 Tech Friends
            li.friend
              .friend-status
                a(href="#")
                  i.offline.icon-circle-blank
                a(href="#")
                  i.icon-comments-alt
                a(href="#")
                  i.offline.icon-remove

              .user-avatar
                a(href="#") 
                  img(src="/assets/img/avatars/justin.jpg", alt="justin timberlake")
              
              .friend-meta
                a.offline(href="#") 
                  span.display-name Justin Timberlake
                dl.sub-nav.friend-contact
                  dd
                    a.offline(href="#")
                      i.icon-twitter
                  dd
                    a.offline(href="#")
                      i.icon-linkedin
                  dd
                    a.offline(href="#")
                      i.icon-facebook
                  dd
                    a.offline(href="#")
                      i.icon-github
                  dd
                    a.offline(href="#")
                      i.icon-envelope

            li.divider

            li.friend
              .friend-status
                a(href="#")
                  i.online.icon-circle-blank
                a(href="#")
                  i.available.icon-comments-alt
                a(href="#")
                  i.offline.icon-remove

              .user-avatar
                a(href="#") 
                  img(src="/assets/img/avatars/kevin.jpg", alt="kevin hart")
              
              .friend-meta
                a(href="#") 
                  span.display-name Kevin Hart
                dl.sub-nav.friend-contact
                  dd
                    a(href="#")
                      i.icon-twitter
                  dd
                    a(href="#")
                      i.icon-linkedin
                  dd
                    a(href="#")
                      i.icon-facebook
                  dd
                    a(href="#")
                      i.icon-github
                  dd
                    a(href="#")
                      i.icon-envelope

            li.divider

            li.friend
              .friend-status
                a(href="#")
                  i.offline.icon-circle-blank
                a(href="#")
                  i.icon-comments-alt
                a(href="#")
                  i.offline.icon-remove

              .user-avatar
                a.offline(href="#") 
                  img(src="/assets/img/avatars/robin.jpg", alt="robin thicke")
              
              .friend-meta
                a.offline(href="#") 
                  span.display-name Robin Thicke
                dl.sub-nav.friend-contact
                  dd
                    a.offline(href="#")
                      i.icon-twitter
                  dd
                    a.offline(href="#")
                      i.icon-linkedin
                  dd
                    a.offline(href="#")
                      i.icon-facebook
                  dd
                    a.offline(href="#")
                      i.icon-github
                  dd
                    a.offline(href="#")
                      i.icon-envelope

            li.divider

            li.friend
              .friend-status
                a(href="#")
                  i.online.icon-circle-blank
                a(href="#")
                  i.available.icon-comments-alt
                a(href="#")
                  i.offline.icon-remove

              .user-avatar
                a(href="#") 
                  img(src="/assets/img/avatars/lebron.jpg", alt="lebron james")
              
              .friend-meta
                a(href="#") 
                  span.display-name King James
                dl.sub-nav.friend-contact
                  dd
                    a(href="#")
                      i.icon-twitter
                  dd
                    a(href="#")
                      i.icon-linkedin
                  dd
                    a(href="#")
                      i.icon-facebook
                  dd
                    a(href="#")
                      i.icon-github
                  dd
                    a(href="#")
                      i.icon-envelope

            li.divider

            li.friend
              .friend-status
                a(href="#")
                  i.online.icon-circle-blank
                a(href="#")
                  i.available.icon-comments-alt
                a(href="#")
                  i.offline.icon-remove

              .user-avatar
                a(href="#") 
                  img(src="/assets/img/avatars/david.jpg", alt="david beckham")
              
              .friend-meta
                a(href="#") 
                  span.display-name David Beckham
                dl.sub-nav.friend-contact
                  dd
                    a(href="#")
                      i.icon-twitter
                  dd
                    a(href="#")
                      i.icon-linkedin
                  dd
                    a(href="#")
                      i.icon-facebook
                  dd
                    a(href="#")
                      i.icon-github
                  dd
                    a(href="#")
                      i.icon-envelope

            li.divider

            li.friend
              .friend-status
                a(href="#")
                  i.online.icon-circle-blank
                a(href="#")
                  i.available.icon-comments-alt
                a(href="#")
                  i.offline.icon-remove

              .user-avatar
                a(href="#") 
                  img(src="/assets/img/avatars/kanye.jpg", alt="yeezus west")
              
              .friend-meta
                a(href="#") 
                  span.display-name Yeezus West
                dl.sub-nav.friend-contact
                  dd
                    a(href="#")
                      i.icon-twitter
                  dd
                    a(href="#")
                      i.icon-linkedin
                  dd
                    a(href="#")
                      i.icon-facebook
                  dd
                    a(href="#")
                      i.icon-github
                  dd
                    a(href="#")
                      i.icon-envelope

            li.divider
            
            li.friend
              .friend-status
                a(href="#")
                  i.online.icon-circle-blank
                a(href="#")
                  i.available.icon-comments-alt
                a(href="#")
                  i.offline.icon-remove

              .user-avatar
                a(href="#") 
                  img(src="/assets/img/avatars/spike.jpg", alt="spike lee")
              
              .friend-meta
                a(href="#") 
                  span.display-name Spike Lee
                dl.sub-nav.friend-contact
                  dd
                    a(href="#")
                      i.icon-twitter
                  dd
                    a(href="#")
                      i.icon-linkedin
                  dd
                    a(href="#")
                      i.icon-facebook
                  dd
                    a(href="#")
                      i.icon-github
                  dd
                    a(href="#")
                      i.icon-envelope

            li.divider
            
            li.friend
              .friend-status
                a(href="#")
                  i.offline.icon-circle-blank
                a(href="#")
                  i.icon-comments-alt
                a(href="#")
                  i.offline.icon-remove

              .user-avatar
                a.offline(href="#") 
                  img(src="/assets/img/avatars/jimmy.jpg", alt="jimmy fallon")
              
              .friend-meta
                a.offline(href="#") 
                  span.display-name Jimmy Fallon
                dl.sub-nav.friend-contact
                  dd
                    a.offline(href="#")
                      i.icon-twitter
                  dd
                    a.offline(href="#")
                      i.icon-linkedin
                  dd
                    a.offline(href="#")
                      i.icon-facebook
                  dd
                    a.offline(href="#")
                      i.icon-github
                  dd
                    a.offline(href="#")
                      i.icon-envelope

            li.divider

            li.friend
              .friend-status
                a(href="#")
                  i.online.icon-circle-blank
                a(href="#")
                  i.available.icon-comments-alt
                a(href="#")
                  i.offline.icon-remove

              .user-avatar
                a(href="#") 
                  img(src="/assets/img/avatars/tyson.jpg", alt="mike tyson")
              
              .friend-meta
                a(href="#") 
                  span.display-name Mike Tyson
                dl.sub-nav.friend-contact
                  dd
                    a(href="#")
                      i.icon-twitter
                  dd
                    a(href="#")
                      i.icon-linkedin
                  dd
                    a(href="#")
                      i.icon-facebook
                  dd
                    a(href="#")
                      i.icon-github
                  dd
                    a(href="#")
                      i.icon-envelope

            li.divider

            li.friend
              .friend-status
                a(href="#")
                  i.offline.icon-circle-blank
                a(href="#")
                  i.icon-comments-alt
                a(href="#")
                  i.offline.icon-remove

              .user-avatar
                a.offline(href="#") 
                  img(src="/assets/img/avatars/eminem.jpg", alt="marshall mathers")
              
              .friend-meta
                a.offline(href="#") 
                  span.display-name Marshall Mathers
                dl.sub-nav.friend-contact
                  dd
                    a.offline(href="#")
                      i.icon-twitter
                  dd
                    a.offline(href="#")
                      i.icon-linkedin
                  dd
                    a.offline(href="#")
                      i.icon-facebook
                  dd
                    a.offline(href="#")
                      i.icon-github
                  dd
                    a.offline(href="#")
                      i.icon-envelope
 
    footer
      .row
        .large-12.columns.footer
          .info &copy; 2013 muiral. This is a huge footer.

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    
    script.
      window.jQuery || document.write('<script src="assets/components/jquery.js"><\\/script>');
    
    // build:js scripts/vendor.js
    // bower:js
    script(src='assets/components/jquery.js')
    // endbower

    //- script(src='assets/js/scripts.min.js')
      
    script.
      (function(m,u,i,r,a,l,_){m['GoogleAnalyticsObject']=a;m[a]=m[a]||function(){
      (m[a].q=m[a].q||[]).push(arguments)},m[a].l=1*new Date();l=u.createElement(i),
      _=u.getElementsByTagName(i)[0];a.async=1;l.src=r;_.parentNode.insertBefore(l,_)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45255234-1', 'muiral.com');
      ga('send', 'pageview');

    // build:js scripts/main.js
    script(data-main='assets/js/main', src='assets/components/requirejs.js')
    // endbuild
